html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#main-tool-container{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top:100px;
}

#test-container {
    display:flex;
    justify-content:center;
}

#input-container{
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
}

.time-container{
    display:flex;
    flex-flow: column nowrap;
    font-size:12px;
    text-align:center;
}

#hours-label{
    order:0;
}
#hours-input{
    order:1;
    text-align:right;
}

#minutes-label{
    order:0;
}
#minutes-input{
    order:1;
}

#control-container{
    display:flex;
    flex-flow:column nowrap;
    justify-content:end;
    align-content:flex-end;
}

#convert-button{
    order:0;
    width: 100%;
}

#result-field{
    order:1;
    text-align:center;
}

#reset-button{
    order:2;
    width: 100%
}